// Specific CSS for your home-page
.grid {
  display: flex;
  flex-direction: column;
  @include from-medium-low {
    flex-direction: row;
  }
}

.form {
    width: 100%;
    margin-bottom: 20px;
   @include from-medium-low {
    width: 60%;
    margin-bottom: 0px;
  }
}

body {
  font-family: 'Futura';
  font-style: normal;
  background-color: white;
}

.background {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    text-align: center;
}

.border-rsvp {
  min-height: 564px;
  margin: 0 10px;
  padding: 12px;
  border: 1px solid black !important;
  @include from-medium-low {
    margin: 20px 40px 40px 40px;
    padding: 30px 60px;
  }
}

.border {
  min-height: 564px;
  margin: 0 10px;
  padding: 30px;
  border: 1px solid black !important;
  @include from-medium-low {
    margin: 20px 40px 40px 40px;
    padding: 30px 60px;
  }
}

.photo {
  width: 100%;
  p {
    text-align: center;
    font-size: 50px;
  }
  h4 {
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
  }
  a {
    color: black;
    text-decoration: none;
    font-family: 'Futura';
  }
  img {
    width:100%;
    object-fit: contain;
  }
  .olive {
    height: 520px;
    padding: 0px 10px;
    @include from-medium-low {
      padding: 0px;
    }
  }
  .olivetree {
    p {
      margin-top: 20px;
    }
    @include from-medium-low {
          p {
      margin-top: 3px;
      }
    }
  }
  @include from-medium-low {
    width: 40%
  }
}

.right {
  margin-right: 0px;
  @include from-medium-low {
      margin-right: 40px;
  }
}

.adresse {
  margin-bottom: 0px;
  font-size: 19px;
  text-align: center;
  @include from-medium {
    font-size: 18px;
  }
}


.home {
  margin-top: 50px !important;
}

.text {
  h1, h4 {
  font-family: 'Futura';
  }
  h1 {
    font-size: 60px;
    border-bottom: 1px solid black;
  }
  h4 {
    margin-top: 20px;
    font-size: 20px;
  }
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.event-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  width: 100%;
  p {
  text-align: center;
  }
  @include from-medium {
    display: grid;
    grid-template-columns: .35fr 1fr;
    font-size: 16px;
    p {
      text-align: inherit;
    }
  }
}

.event-home-special {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  width: 100%;
  p {
  text-align: center;
  }
  @include from-medium {
    display: grid;
    grid-template-columns: .3fr 1fr;
    font-size: 16px;
    p {
      text-align: inherit;
    }
  }
}

.event {
  display: grid;
  font-size: 18px;
  width: 100%;
  margin: 30px;
  p {
  text-align: center;
  }
  @include from-medium {
    margin: 0px;
    display: grid;
    grid-template-columns: .2fr 1fr;
    font-size: 16px;
    p {
      text-align: inherit;
    }
  }
}


.event-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  width: 100%;
  p:first-of-type {
    margin-left: 0px;
  }
  p {
  text-align: center;
  }
  @include from-medium {
   p:first-of-type {
      margin-left: 25px;
    }
    display: grid;
    grid-template-columns: .35fr 1fr;
    font-size: 16px;
    p {
      text-align: inherit;
    }
  }
}

.send-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.suggest-btn-send {
    color: white;
    background-color: black;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    p {
      margin-bottom: 0px;
    }
    &:hover {
      opacity: .8;
    }
}



.time {
  font-size: 23px;
  font-weight: 500;
  margin: 15px 0px 0px 0px;
  text-align: center;
  @include from-medium {
    font-size: 25px;
  }
}

label {
  font-size: 12px;
}

.date-mobile {
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  @include from-medium {
    display: none;
  }
}

.date-laptop {
  display: none;
  @include from-medium {
    width: 100%;
   p:first-of-type {
      margin-left: 25px;
    }
    display: grid;
    grid-template-columns: .35fr 1fr;
    font-size: 16px;
    p {
      text-align: inherit;
    }
  }
}

.dress {
  font-size: 16px !important;
}

.dress {
  margin-top: 10px;
}

.dress2 {
  margin-right: 120px;
}

.guest {
  margin-top: 15px;
  border-bottom: 1px solid;
}

.center {
  margin: 100px;
  text-align: center;
  h2 {
  font-family: 'Futura';
  }
}
