// Specific CSS for your home-page
.grid {
  display: flex;
  flex-direction: column;
  @include from-medium-low {
    flex-direction: row;
  }
}

.form {
    width: 100%;
   @include from-medium-low {
    width: 60%;
  }
}

body {
  font-family: 'Futura';
  font-style: normal;
  background-color: white;
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    text-align: center;
}

.border {
  min-height: 575px;
  margin: 0 30px;
  padding: 30px 60px;
  border: 2px solid black !important;
  @include from-medium-low {
    margin: 0 80px;
  }
}

.photo {
  width: 100%;
  p {
    text-align: center;
    font-size: 50px;
  }
  h4 {
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
  }
  a {
    color: black;
    text-decoration: none;
    font-family: 'Futura';
  }
  img {
    width:100%;
  }
  .olive {
    height: 486px;
    border-bottom: 2px solid black;
  }
  .olivetree {
    margin-right: 0px;
    @include from-medium-low {
      margin-right: 60px;
    }
  }
  @include from-medium-low {
    width: 40%
  }
}

.home {
  margin-top: 100px !important;
}

.text {
  h1, h4 {
  font-family: 'Futura';
  }
  h1 {
    font-size: 60px;
    border-bottom: 1px solid black;
  }
  h4 {
    margin-top: 20px;
    font-size: 20px;
  }
}

.homepage {
  border-bottom: 1px solid black;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.event {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  font-size: 18px;
  width: 100%;
  p:first-of-type {
  width: 200px;
  }
  @include from-medium {
    display: flex;
    flex-direction: row;
    font-size: 16px;
  }
}

.send-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.suggest-btn-send {
    color: white;
    background-color: black;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    p {
      margin-bottom: 0px;
    }
    &:hover {
      opacity: .8;
    }
}

.time {
  font-size: 25px;
  font-weight: 500;
  margin: 15px 0px;
}

label {
  font-size: 12px;
}


.adresse {
  font-size: 18px;
}

.dress {
  font-size: 16px !important;
}

.dress {
  margin-top: 10px;
}

.dress2 {
  margin-right: 120px;
}

.guest {
  margin-top: 15px;
  border-bottom: 1px solid;
}
