<div class="homepage">
  <div class="background">
    <div class="text">
      <h1><%= t('global.wedding.marriage') %></h1>
      <h4><%= t('global.wedding.date') %></h4>
    </div>
  </div>
    <div class="image">
      <%= image_tag 'frise1.png', style:'height:300px; width: 100%; object-fit:contain;' %>
    </div>
</div>
