.navbar-lewagon {
  height: 70px;
  justify-content: right;
  background: transparent;
  font-family: futura-pt-condensed,sans-serif;
  font-weight: 400;
  font-style: normal;
  a {
    color: black !important;
    font-size: 18px;
    margin: 30px;
    @include from-medium-low {
      font-size: 22px;
    }
  }
  a:hover {
    text-decoration: underline;
  }
@include from-medium {
  justify-content: center;
}
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  background-color: white;
  @include from-medium {
    background-color: transparent;
  }
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
